@keyframes rgb{
    0%{color: #FF0000;}
    20%{color: #FF8000;}
    40%{color: #FFFF00;}
    60%{color: #00FF00;}
    70%{color: #00FF80;}
    80%{color: #3333FF;}
    100%{color: #FF3399;}
}
@keyframes rgbborder{
    0%{border-right: 1px ridge  #FF0000;}
    20%{border-right:1px ridge #FF8000;}
    40%{border-right:1px ridge #FFFF00;}
    60%{border-right:1px ridge #00FF00;}
    70%{border-right: 1px ridge#00FF80;}
    80%{border-right: 1px ridge#3333FF;}
    100%{border-right: 1px ridge#FF3399;}
}
@keyframes rgbborderleft{
    0%{border-left: 1px ridge  #FF0000;}
    20%{border-left:1px ridge #FF8000;}
    40%{border-left:1px ridge #FFFF00;}
    60%{border-left:1px ridge #00FF00;}
    70%{border-left: 1px ridge#00FF80;}
    80%{border-left: 1px ridge#3333FF;}
    100%{border-left: 1px ridge#FF3399;}
}
@keyframes mymove {
    0%{margin-right: 0px;   transform: rotateZ(0deg);  text-shadow: 2px 2px #ff0000;

    }
    33%{margin-right: 450px;  transform: rotateZ(360deg);  text-shadow: 2px 2px #00ffbf;

    }
    66%{margin-left: 2000px;  transform: rotateZ(120deg);  text-shadow: 2px 2px #00ff4c; 

    }
    100%{margin-right:0px;  transform: rotateZ(360deg);  text-shadow: 2px 2px #4e4e4e;

    }
  }
@font-face{
    font-family: gandom;
    src: url(./../font/Gandom-FD.ttf);
}
@font-face {
    font-family: Ziba;
    src: url(./../font/AlwaysLovely.otf);
}
@font-face {
    font-family: lalezar;
    src: url(./../font/Lalezar-Regular.ttf);
} 
@font-face{
    font-family:nazanin ;
    src:url(./../font/Far_Nazanin.ttf);
    font-weight: 100;
}
@font-face{
    font-family: adab;
    src:url(../font/Mj_Talat_0.ttf)
}
@font-face{
    font-family: b-nazanin;
    src: url(../font/B-NAZANIN.TTF)
}
*{
box-sizing: border-box;
color: #333;
margin: 0;
padding: 0;
}
body{
    margin: 0;
    direction:rtl;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.countiner{
    width: 100%;
    padding: 0 60px ;
}

.clearfix{
    clear :both ;
}
.header{
    width: 100%;
    height: 65px;
    background-color: #fff;
    box-shadow: 0px 2px 2px #333;
}
.menuh{
      background-color: transparent;
      border: none;
      display: none;
      /* margin: 20px 0; */
      outline: none;
      cursor: pointer;
}

.header-logo{
    float:right;
    padding-top: 6px;

}
.header-logo img {
        width: 50px ;
        height:auto ;
        
}
.header-nav{
    float:right;
    margin-right: 30px;
}
.header-nav li{
    display: inline-block;
    padding: 23px 10px ;
    float: right;
    font-family: lalezar;
    transition: 0.5s;
    transition-timing-function: linear;

}
.header-nav li:hover{
    transform: scale(2, 3);
    text-shadow: 25px 10px 4px #0000007a;

}

.login-btn{
    border: none;
    background: gray;
    color: #bbb;
    padding: 3px 27px;
    margin: 21px 0px;
    font-family:nazanin ;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    float: left;
    text-shadow: 2px 2px 4px #000000;


}
.intro{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(138,68,76,1) 50%, rgba(148,187,233,1) 100%);
    width: 100%;
    height: 400px;
    padding: 50px 0px;
    display: block;

}

.intro-right{
    width: 50%;
    height: auto;
    float : right;
}
.intro-right h1{
    direction: rtl;
    color: #fff;
    font-size: 55px;
    font-family: adab;
    text-shadow: 2px 2px 4px #000000;

}
.intro-right-btns{
    width: auto;
    float: right;
    margin-right: 245px;
    margin-top: 50px
}
.intro-right-btn{
    border : solid white 2px;
    background: transparent;
    padding: 9px 12px;
   border-radius: 15%;
   font-size: 20px ;
   cursor: pointer;
   outline: none;
   float: right;
   color: snow;
   font-family:nazanin ;
   margin-left : 8px ;  
   text-shadow: 2px 2px 4px #000000;
}
.intro-left{
    width: 50%;
    height: 244px;
    float: left;
}
.intro-left img{
    width: 58%;
    height: auto;
    margin-right: 202px;
}
.poster{
    width: 25%;
    height: auto;
    padding: 15px;
    float: right;

}
.p-card{
    width: 100%;
    height: 345px;
    box-shadow: 0px 1px 3px gray;
    cursor: pointer;
    transition: 0.5s;
}
.p-card:hover{
    transform :rotateZ(10deg);
    border: rgba(53, 53, 53, 0.438) 2px solid;
    
}

.posters h2{
    font-family: b-nazanin;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    margin: 20px 0px;

}
.p-p img{
    width: 100%;
    height: 250px;
    text-shadow: 2px 2px 4px #ffff;

}
.body-p{
    padding: 10px;
    
}
.title-p{
    margin: 0px;
    text-align: center;
    font-style: bold;
    text-shadow: 2px 2px 4px #ffff;

}
.p-price{
    margin: 0px;
    float: left;
    color: rgba(24, 24, 24, 0.685);
    font-size: 15px;
    font-style: bold;
    text-decoration: line-through red 1px solid;
    text-shadow: 2px 2px 4px #ffffff;
}
.des-p{
 margin:0;
 float: right;
 margin-right: 2px;
 text-shadow: 2px 2px 4px #ffff;
}
.off-p{
  margin:0;
  float: left;
  font-size: 15px
  
}
.adds{
    padding-top: 30px ;
}
.p-add{
    padding: 0px 3px;

}
.righ-add{
    width: 75%;
    height: auto;
    float: right;
}
.righ-add img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
} 
.left-add{
    width: 25%;
    height: auto;
    float: left;

}
.left-add img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
.g-items{
    float: right;
    width: calc(100% / 3);
    height: 350px;
    padding: 0px 3px;
    background-color: rgba(129, 125, 125, 0.514);

}
.game-section h2{
    font-family: b-nazanin;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    margin: 20px 0px;
}
.why-us{
    width: 100%;
    height:auto;
    margin-top: 21px;

}
.w-post{
     width: 25%;
     height: auto;
     padding: 25px;
     float: right;
     background: rgb(212, 212, 212);


}
.w-card{
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 3px gray;
    border-radius: 20%;
    text-align: center;
    opacity: 60%;
    transition: width 2s , height 2s;
    animation-duration : 5s;
    animation-iteration-count: 1;
    overflow: hidden;
}
.w-card img{
    width: 50%;
    height: auto;
}
.money{
    margin-top: 29px;
}
.support{
    margin-top: 24px;

}
.w-card h4{
    font-family:lalezar;

}
.w-card p{
    font-size: 18px;
    font-family:b-nazanin;
    margin-top: 15px;
    margin-right: 5px;
    direction: rtl;
    text-align: right;
}
.w-card:hover{
    width: 150%;
     /* height: 400px;  */
     opacity: 100%;
    border: rgba(0, 255, 191, 0.548) solid 1px; 
}
/* .salam{
       height:200px;
       width: 300px;
       background-color:red;
       text-align:center;
    overflow: hidden;

}
.tests{
    height: 200px;
    width:300px;
    transition: width 0.5s, height 0.5s ;
} 
.tests:hover{
    height: 50%;
    width:100px;
    border-radius: 50%;

} */
.footer{
    margin-top: 45px;
    width:100%;
    height: 500px;
    background: rgb(255,0,112);
background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(41,124,255,1) 0%, rgba(96,95,95,1) 0%, rgba(0,0,0,1) 97%);
}
.imag-footer{
    border-right: rgb(253, 0, 0) 1px;
    border-style: ridge  ;
} 
.logoyefoot{
    margin-top: 4px;
    width: 250px;
    border-radius: 100%;
    float: left;
    height: auto;
    margin-left: 15px;
    border-radius: 100%;
}
.inmad{
    top: 264px;
    right: 258px;
    /* margin-top: 355px; */
    /* margin-left: 15px; */
    position: relative;
    border-radius: 100%;
    width: 108px;
    float: left;
    height: auto;

  }
  .ssl{
    border-radius: 100%;
     width: 90px;
     float: left;
     height: auto;
     position: relative;
     right: 177px;
     top: 137px;
  }
.Questions{
    width: 40%;
    height: 410px;
    border: rgb(77, 77, 77) 1px;
    border-style: ridge  ;
}
.FaQ{

}
.Header-faq{
    color:white;
    text-align:center;
    font-size: 50px;
    animation-name: mymove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.Question{
    color:white;
    margin-top: 15px;
    font-family: gandom;
    overflow: hidden;   
    width: 190px;
    height:30px;
    margin-right: 8px;
    transition: height 0.5s , width 0.25s;
}
.Question:hover{
      border-bottom:  1px groove  rgb(0, 102, 255);
      width: 240px;
      height: 56px;
}
.Socials{
    height: 18px;
    position: relative;
    width:900px;
    margin-right: 446px;
    border-top: rgb(77, 77, 77) ridge 1px;
    top: -1px; 
}

.Social-img{
    margin-top:29px;
    margin-right: 148px;
    padiding: 0px 4px;
}

.fi-brands-instagram{
   color: rgba(241, 241, 241, 0.692);
   padding: 0 2px;
   font-size: 25px;
}
.fi-rr-globe{
    color: rgba(241, 241, 241, 0.692);
    padding: 0 2px;
    font-size: 25px;
}
.fi-brands-facebook{
    color: rgba(241, 241, 241, 0.692);
    padding: 0 2px;
    font-size: 25px;
}
.fi-brands-twitter{
    color: rgba(241, 241, 241, 0.692);
    padding: 0 2px;
    font-size: 25px;
}
.fi-brands-whatsapp{
    color: rgba(241, 241, 241, 0.692);
    padding: 0 2px;
    font-size: 25px;
}
.fi-brands-whatsapp:hover , .fi-brands-twitter:hover , .fi-brands-facebook:hover , .fi-rr-globe:hover , .fi-brands-instagram:hover{
      color: rgba(0, 0, 0, 0.774);
      text-shadow: 2px 2px 3px #0065fcce;
      font-size: 30px
    }




























@media screen and (max-width: 1190px){
    .poster{
        width: 50%;
    }
    .countiner{
               padding: 0 150px; 
         
    }
    .g-items{
        width: 50%
    }
}
@media screen and (max-width: 923px){
    .poster{
        width: 50%;
    }
    .countiner{
               padding: 0 60px; 
         
    }

}
@media screen and (max-width : 650px){
    .poster{
        width: 100%;
    }
    .countiner{
               padding: 0 60px; 
         
    }
    .g-items{
        width: 100%;
    }
}
@media screen and (max-width : 352px){
    .poster{
        width: 100%;
    }
    .countiner{
               padding: 0 20px; 
         
    }
}
@media screen and (max-width :785px){
    .left-add{
        display:block;
        width: 100%;
    }
    .righ-add{
        width: 100%;
        height: auto;
        float: right;
    }
}
@media screen and (max-width: 609px){
    .adds{
        padding-top: 0px ;
    }
    .header-nav {
         display: none; 
    }
    .header-logo{
        display: none;
    }
    .intro-left img{
        width: 70%;
        margin-right: 120px;
        height: 214px;
    }
    .intro-right h1{
        font-size: 43px;
        height: 240px;
    }
    .menuh{
        display: block;  
        position:relative;
        top:33px;
    }
    .login-btn {
        margin: 1px 0px;
    }
}